/* dau qua choi lai */


/* thiet lap */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* common */

.text-white {
    color: #fff !important;
}

.font-15 {
    font-size: 0.9375em !important;
}

.font-30 {
    font-size: 1.875em !important;
}

.margin-15 {
    margin-top: 20px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.btn:hover {
    color: #000 !important;
    background-color: #ccc !important;
}


/* header */

#header {
    height: 2.875em;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* nav main */

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav>li>a {
    color: #fff;
}

#nav li a {
    line-height: 46px;
    padding: 0 1.5em;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9375em;
}

#nav>li:hover>a>i,
.sub-nav li:hover,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}


/* nav sub */

#nav .sub-nav {
    display: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 10em;
    background-color: #fff;
}

#nav li:hover .sub-nav {
    display: block;
}

#nav .sub-nav li {
    width: 100%;
    display: block;
}

.sub-nav li a {
    color: #000;
    font-size: 15px;
}


/* narow down */

#nav .ti-angle-down {
    color: #fff;
    font-size: 15px;
}


/* nav search  */

.menu-mobile,
.search-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 14px 24px 13px;
}

.menu-mobile {
    display: none;
}

.search-icon:hover {
    background-color: #f44336;
}


/* slider */

#slider {
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/chicago.jpg) top center / cover no-repeat;
    margin-top: 46px;
}

#slider .slider-name {
    font-size: 24px;
    margin: 10px 0;
}

#slider .slider-sologan {
    font-size: 15px;
    margin: 22px 0;
}

#slider .slider-text {
    text-align: center;
    padding: 32px 0;
}


/* content */


/* section common */

#content .section-content {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 80px;
    padding-left: 8px;
    padding-right: 8px;
}

#content .section-name {
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
}

#content .section-sologan {
    font-size: 15px;
    margin: 15px 0;
    text-align: center;
    color: #707070;
    font-style: italic;
}


/* section band */

#section-band .text-band {
    margin: 15px 0;
}

#section-band .list-member-img {
    padding: 32px 0;
    text-align: center;
}

#section-band .text-band {
    text-align: justify;
    line-height: 1.5;
}

#section-band .name-member-band {
    margin: 15px 0;
}

#section-band .img-memberband {
    width: 60%;
    border-radius: 10%;
}


/* section tour */

#section-tour {
    background-color: #000;
}

#section-tour .section-name {
    color: #fff;
}

#section-tour .section-sologan {
    color: #757575;
}


/* bang ve in section tour*/

#section-tour .section-table-tickets {
    background-color: #fff;
    color: #757575;
}

.section-table-tickets p {
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

.section-table-tickets span {
    margin-left: 16px;
    padding: 4px 10px;
    background-color: #f44336;
}

.section-table-tickets {
    margin-top: 30px;
}

.section-table-tickets .date-tikets {
    float: right;
    line-height: 8px;
    padding: 10px 12px;
    border-radius: 50%;
    margin-top: -5px;
    background-color: #000;
    margin-right: 8px;
}


/* img city  , bang content */

.list-city-tickets .card-tickets,
#section-tour .list-city-tickets {
    margin-top: 16px;
}

.list-city-tickets .content-card {
    background-color: #fff;
    padding-top: 15px;
    margin-top: -4px;
    padding: 15px 16px 15px;
}

.img-city {
    width: 100%;
}

.btn-buytickets {
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
}

.list-city-tickets {
    padding-bottom: 32px;
}


/* section contact */

#section-contact .list-contact {
    padding-top: 32px;
}

.info-contact .sub-contact {
    font-size: 18px;
    margin-top: 8px;
}

.info-contact .text-contact {
    margin-left: 20px;
}

.fill-info-contact .form-control {
    padding: 8px;
    width: 100%;
}

.margin-bottom {
    margin-bottom: 8px;
}

.btn-contact {
    margin-top: 16px;
    float: right;
    padding: 8px 16px;
    background-color: #000;
    margin-bottom: 32px;
}


/* img map sau contact */

.img-map {
    width: 100%;
}


/* footer */

#footer .list-icon {
    text-align: center;
    padding: 64px 16px;
}

.list-icon i {
    font-size: 24px;
    color: #757575;
    padding-right: 6px;
}

.text-footer {
    margin-top: 15px;
}